.pagina {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    &__list {
        display: flex;
        gap: 20px;
        &-btn {
            height: 30px;
            width: 30px;
            border-radius: 10px;
            &:hover{
                background: black;
                color: white;
                transform:scale(1.4);
                transition: 0.45s;
            }
        }
    }
}