.search {
    position: relative;
    margin: 30px;
  
    &__input {
      color: red;
      height: 36px;
      font-weight: 500;
      font-size: 14px;
      line-height: 18px;
      padding: 10px 14px 10px 36px;
      border-radius: 6px;
    }
  
    &__button {
      width: 36px;
      height: 36px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      border-radius: 6px;
      transition-property: opacity;
      transition-duration: 0.15s;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
      &:hover {
        opacity: 0.7;
      }
  
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
  